$main-font: 'Nunito', sans-serif;
$color-3: #9C69E2; 
$color-1: #4B5D68; 
$color-2: #212353; 
$color-4: #F063B8; 
$color-5: #68C9BA; 

body {
    max-width: 1600px;
    width: 100%;
    max-height: 4500px;
    height: 100%;
    background: linear-gradient(180deg, rgb(185, 223, 252) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.header {
    max-width: 1248px;
    width: 100%;
    max-height: 754px;
    height: 100%;
    margin-top: 50px;
    margin-left: 10px;

}

.nav {
    max-width: 1120px;
    width: 100%;
    max-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.logo {
    width: 49px;
    height: 35px;
}

.nav__list {
    list-style: none;
    display: inline-flex;
    margin-left: 40px;
    

}

.nav__link {
    margin-left: 40px;
    &>a {
        color: $color-1;
        font-family: $main-font;
        font-size: 16px;
        line-height: 1.6px;
        text-decoration: none;
        &:hover {
            color: $color-2;
            font-weight: bold;
        }
    }
}

.nav__button { /*fix position so button is at end of page*/ 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
}

.demo-button {
    width: 210px;
    height: 60px;
    display: inline-flex;
    border: none;
    border-radius: 40px;
    background-color: white;
    color: $color-2;
    font-size: 16px;
    font-family: $main-font;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(75,93, 104, 0.10);
    &:hover {
        background-color: $color-3;
        color: white;
        .arrow-right {
            color: white;
        }
    }
}    

.demo-button__text {
    margin-left: 15px;
    font-weight: bold;
}
.arrow-right {
    color: $color-3;
    font-size: 35px;
    text-align: center;
    margin-left: 10px;
    margin-top: 11px;
}

.header__main {
    max-width: 645px;
    width: 100%;
    max-height: 464px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
}

.header__title {
    max-height: 184px;
    height: 100%;
    color: $color-2;
    font-size: 80px;
    font-family: helvetica;
    font-weight: bold;
    line-height: 1.1;
}

.header__info {
    max-width: 380px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    margin-top: 50px;
    color: $color-1;
    font-size: 18px;
    font-family: $main-font;
    font-weight: 600;
    line-height: 1.6;
}

.header-button {
    margin-top: 50px;
    margin-left: 10px;
}

.learn-button {
    width: 170px;
    height: 60px;
    background-color: $color-3;
    color: white;
    border: none;
    border-radius: 40px;
    text-align: center;
    &:hover {
        background-color: white;
        color: $color-3;
        border: 1px solid $color-1;
    }
}

.learn-button__text {
    font-size: 18px;
    font-family: $main-font;
    font-weight: bold;
}

.header__img {
    max-width: 885px;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 55%;
    z-index: -1;
}