body {
  max-width: 1600px;
  width: 100%;
  max-height: 4500px;
  height: 100%;
  background: white;
  background: linear-gradient(180deg, #b9dffc 0%, white 35%, white 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  max-width: 1248px;
  width: 100%;
  max-height: 754px;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
}

.nav {
  max-width: 1120px;
  width: 100%;
  max-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.logo {
  width: 49px;
  height: 35px;
}

.nav__list {
  list-style: none;
  display: inline-flex;
}

.nav__link {
  margin-left: 40px;
}
.nav__link > a {
  color: #4B5D68;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.6px;
  text-decoration: none;
}
.nav__link > a:hover {
  color: #212353;
  font-weight: bold;
}

.demo-button {
  width: 210px;
  height: 60px;
  display: inline-flex;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #212353;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  line-height: 1.6px;
  text-align: center;
}

.arrow-right {
  color: #9C69E2;
  font-size: 20px;
}